@{
}
<!doctype html>
<html>
<head>
    <title>Hello Azure</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/CSS/main.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
    <header class="z-3">
        <h1>Hello, Azure!</h1>
    </header>
    <content>
        <div class="main-content">
            <section class="section z-3">
                <div class="section--header">
                    <h2>Hi there, hope you did not expect too much ;)</h2>
                    <h4>Nothing much to see expect this embedded tweet.</h4>
                </div>
                <div class="section--content">
                    <div class="section--content--tweet">
                        <blockquote class="twitter-tweet" data-lang="de" data-width="500"><p lang="en" dir="ltr">I just entered for a chance to win $1000 with <a href="https://twitter.com/MSFTImagine">@@MSFTImagine</a> <a href="https://twitter.com/hashtag/HelloCloudSweepstakes?src=hash">#HelloCloudSweepstakes</a> by leveraging the power of <a href="https://twitter.com/hashtag/Azure?src=hash">#Azure</a>! <a href="https://t.co/A8j8wsyT72">https://t.co/A8j8wsyT72</a></p>&mdash; Gregor Beyerle (@@GBeyerle) <a href="https://twitter.com/GBeyerle/status/833369165851480065">19. Februar 2017</a></blockquote>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </section>
        </div>
    </content>
    <footer></footer>
</body>
</html>